@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Reset Basico de Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Variables de Colores */

:root {
    /* Color de Fondo */
    /* Para definir una variable vamos a usar -- */
    --color-primary: #2a2929;
    --color-secondary: rgb(99, 23, 99);
    --color-text: white;

}

/* Estilos de Header */

.container {
    /* Espaciado de los elementos */
    padding: 20px 160px;
}

.header {
    background-color: var(--color-primary);
    /* Con display flex vamos a ir dando posicion a nuestros elementos */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3 {
    color: var(--color-text);
    font-size: 24px;
}

nav ul{
    display: flex;
    /* El gap es un espacio entre los elementos */
    gap: 50px;
    /* Vamos a sacar el formato de lista */
    list-style: none;
}

nav ul li a {
    /* Vamos a sacarle formato a los enlaces */
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
    transition: .4s ease-in-out;
}

/* Uso de pseudoclases */

nav ul li a:hover {
    color: green;
}

/* Estilos Home */

.home {
    width: 100%;
    height: 90vh;
    background-color: var(--color-secondary);
    color: var(--color-text);
    display: flex;
    /* Esto va a permitirnos manejar los divs que conteniamos */
    
}

/* Lado izquierdo */
.home .left-side {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

/* Editamos el h1 */
.home .left-side h1 {
    font-size: 3rem;
}

/* Editamos el p */
.home .left-side p {
    font-size: 1.4rem;
}

/* Comenzamos a editar la lista con los accesos */
.home .left-side ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.home .left-side ul li {
    transition: .4s;
}

.home .left-side ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-text);
}

.home .left-side ul li:hover {
    transform: scale(1.2);
}

/* Lado derecho */
.home .rigth-side {
    width: 35%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.home .rigth-side img {
    width: 70%;
    height: max-content;
    border-radius: 30px;
}

/* Estilos about */

.about {
    height: 70vh;
    background-color: var(--color-primary);
    color: var(--color-text);
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.about .left-side {
    width: 30%;
}

.about .left-side img {
    width: 100%;
    border-radius: 20px;
}

.about .rigth-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about .rigth-side h3 {
    font-size: 2rem;
}

.about .rigth-side p {
    font-size: 1.2rem;
}

/* Estilos Skills */

.skills {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-secondary);
    color: var(--color-text);
    justify-content: center;
    align-items: center;
}

.skills h2 {
    font-size: 2rem;
}

.skills ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: max-content;
    background-color: red;
    gap: 20px;
    border-radius: 20px;
    padding: 30px 0px;
    transition: .4s;
}

.card i {
    font-size: 4rem;
}

.card span {
    font-size: 1.2rem;
    font-weight: 700;
}

.card:hover {
    box-shadow: 18px 18px 57px -44px rgba(255,255,255,1);
    transform: scale(1.2);
}